<component name="ArtifactManager">
  <artifact type="war" name="spring-svitla:war">
    <output-path>$PROJECT_DIR$/svitlatrial4/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-svitla</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-svitla-4.2.5-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-svitla:war exploded" />
    </root>
  </artifact>
</component>