https-proxy=http://cs-ws-s-CMSLMS:bMI%26-e%25I9cLf9K9@pxgot5.srv.volvo.com:8080
http-proxy=http://cs-ws-s-CMSLMS:bMI%26-e%25I9cLf9K9@pxgot5.srv.volvo.com:8080
proxy=http://cs-ws-s-CMSLMS:bMI%26-e%25I9cLf9K9@pxgot5.srv.volvo.com:8080
strict-ssl=false
registry=https://registry.npmjs.org/